<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49824/CalService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalService" contract="ServiceReference1.ICalService"
                name="BasicHttpBinding_ICalService" />
        </client>
    </system.serviceModel>
</configuration>